.home__container
{
    display: flex;
    width: 100%;
    height: 100vh;

}
.img__section
{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2% 10% 2% 10%;
}
.home__img
{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
