@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');



/*-----------------   Main  Container ----------------*/


.nav__container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    margin-bottom: 5%;
}

/*-----------------   Logo  Area ----------------*/

.nav__logo
{   
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav__logo h5
{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    padding-top: 2%;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav__logo span
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #181818;
    padding: 0.5% 0 3% 0;


}

/*-----------------   Links  Area ----------------*/

.nav__links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.nav__links ul 
{
    display: flex;
    width: 30%;
    font-size: 14px;
    font-weight: 400;
    color: #181818;
    justify-content: space-around;
    list-style: none;

}

.links
{
    text-decoration: none;
    color: #181818;

}