.videography__container
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    color: #181818;
    font-family: 'Raleway', sans-serif;
}
.video__heading
{
    display: flex;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
.video__section
{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: whitesmoke;   
}
.video__data:nth-child(even)
{
    flex-direction: row-reverse;
}
.video__data
{
    display: flex;
    flex-direction: row;
}
.video__side
{
    width: 50%;
}
.video
{
    display: flex;
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: center;
}
.video__info
{
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 28px;
    height: 120vh;
    justify-content: center;
    margin: 0% 10% 0 10%;
}
.video__info h3
{
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
}
.video__info span
{
  font-style: italic;
  color: rgb(145, 145, 145);
  font-size: 15px;
}

.video__info h4 a
{
    color: black;
    margin-left: 5px;
    text-transform: lowercase;
    letter-spacing: 0.4px;
}
.video__info p
{
    font-size: 0.95rem;
}



/*------------------ Tablet  view ------------------*/

@media only screen and (max-width:940px)
{

.video__heading
{
    font-size: 1.4rem;
    font-weight: 600;
}

.video
{
    height: 140vh;
    z-index: 99;
}
.video__info
{
    width: 40%;
    line-height: 25px;
    height: 140vh;
    margin: 0% 5% 0 5%;
}
.video__info h3
{
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
    
}
.video__info span
{
  font-size: 14px;
}
.video__info h4
{
    font-size: 15px;
}

.video__info h4 a
{
    color: black;
    margin-left: 5px;
    text-transform: lowercase;
    letter-spacing: 0.4px;
}
.video__info p
{
    font-size: 0.90rem;
    line-height: 27px;
}


}







@media only screen and (max-height:1400px)
{

.video
{
    height: 100vh;
}
.video__info
{
   
    height: 100vh;
   
}
}
@media only screen and (max-height:500px)
{

.video
{
    height: 180vh;
}
.video__info
{
   
    height: 180vh;
   
}
}

/*------------------  small Tablet  view ------------------*/

@media only screen and (max-width:780px)
{

.video__heading
{
    font-size: 1.4rem;
    font-weight: 600;
}
.video
{
    height: 100%
}
.video__info
{
    width: 40%;
    line-height: 22px;
    height: 150vh;
    margin: 0% 5% 0 5%;
}
.video__info h3
{
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    
}
.video__info span
{
  font-size: 13px;
}
.video__info h4
{
    font-size: 13px;
}

.video__info p
{
    font-size: 0.80rem;
}


}



/*------------------ Mobile view ------------------*/


@media only screen and (max-width:600px)
{  
    .videography__container
    {
        margin-top: 0%;
    }
    .video__heading
    {  
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .video__section
    {
        margin-top: 10%;
    }
    .video__data:nth-child(even)
    {
        flex-direction: column;
    }
    .video__data
    {
        flex-direction: column;
        
    }
    .video__side
    {
        width: 100%;
    }
    .video
    { 
        height: 110vh;
    }
    .video__info
    {
    
        width: 90%;
        height: auto;
        margin: 10% 5% 10% 5%;
    }

    .video__info h3
    {
        font-size: 22px;
        font-weight: 400; 
    }

    .video__info span
    {
       font-size: 15px;
    }
    .video__info h4
    {
     font-size: 15px;
 
    }
    .video__info h4 a 
    {

       margin-left: 5px;
    }
    .video__info p
    {
        font-size: 0.95rem;
        line-height: 25px;
    }

}



/*------------------  Small Mobile view ------------------*/


@media only screen and (max-width:350px)
{
    .video__heading
    {  
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 400;
    }
    .video__info h3
    {
        font-size: 18px;
        font-weight: 500; 
    }

    .video__info span
    {
       font-size: 12px;
    }

   .video__info h4
   {
    font-size: 13px;
   }
   .video__info h4 a 
   {

       margin-left: 5px;
   }
   .video__info p
   {
        font-size: 0.85rem;
   }

}